* {
  box-sizing: border-box;
}
#token-drop-zone {
  height: 70px;
  margin: 0 auto;
}
#game-board {
  width: 498px;
  height: 426px;
  top: 200px;
  border-radius: 9%;
  margin: 0 auto;
  position: relative;
  background-color: rgb(252, 213, 166);
}
.disc {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: all ease-out 0.3s;
}
.player1 {
  background-color: rgb(230, 93, 93);
}
.player2 {
  background-color: rgb(90, 90, 194);
}
